providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/home/florian/Programmeren/HackerRank/Clickomania"
          source: "/home/florian/Programmeren/HackerRank/Clickomania/.build-tools.cson"
          name: "compile"
          command: "g++ -std=c++11 clickomania.cpp -o clickomania"
          wd: "."
          env: {}
          modifier:
            save_all: {}
          stdout:
            pty: false
            highlighting: "nh"
            ansi_option: "ignore"
          stderr:
            highlighting: "nh"
            ansi_option: "ignore"
          output:
            linter:
              no_trace: false
            buffer:
              recycle_buffer: true
              queue_in_buffer: true
          version: 1
        }
        {
          project: "/home/florian/Programmeren/HackerRank/Clickomania"
          source: "/home/florian/Programmeren/HackerRank/Clickomania/.build-tools.cson"
          name: "run"
          command: "./clickfrenzy"
          wd: "."
          env: {}
          modifier:
            shell:
              command: "bash -c"
          stdout:
            pty: false
            highlighting: "nh"
            ansi_option: "ignore"
          stderr:
            highlighting: "nh"
            ansi_option: "ignore"
          output: {}
          version: 1
        }
      ]
  }
]
